@charset "utf-8";
:focus { outline: 0; }
* { margin: 0; padding: 0;
	-webkit-text-size-adjust: none;
	list-style: none;
	box-sizing:border-box;
}
img { border: 0; }

.menu-container>ul:after,
.container .top-main .main .share ol:after,
.container .top-main .main .share ol li:after,
.follow-us-list ul:after,
nav:after,
nav .top-main:after,
.menu-container:after,
.menu-container ul:after { content:""; display:block; width:100%; height:0; clear:both;}
/* =============================================================================================================
..................................................vspc_區塊....................................................
==============================================================================================================*/
html,
body { 
	min-width: 0;/* 必寫!!!*/ 
	height: auto; 
	background-color: #FFFFFF;
	font-family:"微軟正黑體", "Microsoft JhengHei UI Light", "Microsoft JhengHei UI"!important;
}
.vs-rrr { width: 100%; height: auto; overflow: hidden; }
/* ------視覺左上角活動LOGO_樣式------ */
.udnLOGO { 
	display: block;
	z-index: 700; 
	width: calc(139/1190*100%);
}
.udnLOGO span { 
	display: block;
	width: 100%; height: 0;
	background-size: 100% auto;
	padding-bottom: calc(293/797*100%);/* 若用第4、5底色logo，改成calc(360/797*100% */
	background-image: url(https://img.udn.com/art/2019_logo/images/new_udnlogo_02.svg);
}
/* ------header------ */
header { width:100%; background-color:#FFFFFF; /*border-top:4px solid #f2f2f2;*/}
.top-main { width:1190px; height:auto; margin:0 auto; /*outline:1px solid #000;*/}
h1 { padding:25px 0 25px 30px;}
/* ------menu------ */
nav { width:100%; background-color:#ff7700;}
.menu-md { display:none;}
.menu-container,
.menu-container>ul { width:100%; display:block;}
.menu-container>ul>li { display:block; float:left; width:calc(100% / 6); position:relative; border-right:1px solid rgba(255,255,255,.1);}
.menu-container>ul>li:nth-child(1) { border-left:1px solid rgba(255,255,255,.1);}
.menu-container>ul>li>div { display:block; position:relative; text-align:center; color:rgba(255,255,255,1); font-size:16px; line-height:40px; font-weight: bold; padding: 0 2em; cursor: pointer;}
.menu-container>ul>li>div>span { display:block; position:absolute; right:17px; top:50%; transform:translateY(-50%);}
.sub-menu { min-width:250px; max-width:600px; display:none; border:0px solid #ff7700; border-radius:0 0 5px 5px; box-shadow:0px 5px 10px rgba(0,0,0,.5); background-color:#FFFFFF; position:absolute; top:60px; left:0; right:auto; opacity:0;}
.menu-container>ul>li:nth-child(n+4) .sub-menu { left:auto; right:0;}
.sub-menu>li { display:block; width:100%; border-bottom:1px solid #f2f2f2; padding:1vw 2vw;}
.sub-menu>li:last-child { border-bottom:none;}
.sub-menu>li>a { display:block; color:#565656; text-decoration:none; font-weight:bold; /*white-space:nowrap;*/}
.sub-menu>li>a:hover { color:#ff7700;}
.menu-container>ul>li:hover > ul.sub-menu { display:block; top:40px; opacity:1;}
.menu-container>ul>li:nth-child(1):hover { background-color:rgba(0,128,255,1);}/*數位3C*/
.menu-container>ul>li:nth-child(2):hover { background-color:rgba(51,153,102,1);}/*2*/
.menu-container>ul>li:nth-child(3):hover { background-color:rgba(153,102,204,1);}/*3*/
.menu-container>ul>li:nth-child(4):hover { background-color:rgba(255,153,0,1);}/*4*/
.menu-container>ul>li:nth-child(5):hover { background-color:rgba(204,0,102,1);}/*5*/
.menu-container>ul>li:nth-child(6):hover { background-color:rgba(51,204,0,1);}/*6*/

/* ------跟屁蟲------ */
.follow-us-list { position:fixed; left:10px; top:50%; transform:translateY(-50%); z-index:99;}
.follow-us-list ul { display:block;}
.follow-us-list ul li { display:block; width:50px; margin-bottom:10px;}
.follow-us-list ul li a { display:block; width:100%; height:50px; border-radius:50%; color:#FFFFFF; text-align:center;}
.follow-us-list ul li a:hover { filter: brightness(120%);}
.follow-us-list ul li a span { display:block; margin:0 auto;}
.follow-us-list ul li a span i { line-height:50px; font-size:30px;}
.follow-us-list ul li.follow-facebook a { background-color:#3564a2;}
.follow-us-list ul li.follow-line a { background-color:#00c300;}

/* ------文章------ */
.container {}
.container .top-main { padding:20px;}
.container .top-main .header { border-bottom:1px solid #f2f2f2; margin-bottom:40px; padding:20px 0 30px 0;}
.container .top-main .header h3 { color:#ff7700; font-size:16px;}
.container .top-main .header h3:before,
.container .top-main .header h3:after { content:"|"; }
.container .top-main .header h3:before { margin-right:10px;}
.container .top-main .header h3:after { margin-left:10px;}
.container .top-main .header h2 { font-size:48px; padding:5px 0 10px 0; letter-spacing:-2px;}
.container .top-main .header h5 { font-size:15px;}
.container .top-main .header h5 span { color:#9b9b9b; margin-right:20px;}
.container .top-main .header h5 span.on:before { content:"on";}
.container .top-main .header h5 span.by:before { content:"by";}
.container .top-main .header h5 span.on:before,
.container .top-main .header h5 span.by:before { font-size:18px; color:#565656; margin-right:3px; font-weight:bold;}

.container .top-main .main { text-align:left;}
.container .top-main .main img { display:block; width:100%; height:auto; margin-bottom:20px;}
.container .top-main .main img.Left { float:left; margin:0 25px 7px 0;}
.container .top-main .main img.Right { float:right; margin:0 0 7px 25px;}
.container .top-main .main img.w90 { width:90%;}
.container .top-main .main img.w80 { width:80%;}
.container .top-main .main img.w70 { width:70%;}
.container .top-main .main img.w60 { width:60%;}
.container .top-main .main img.w50 { width:50%;}
.container .top-main .main img.w40 { width:40%;}
.container .top-main .main img.w30 { width:30%;}
.container .top-main .main img.w20 { width:20%;}
.container .top-main .main img.w10 { width:10%;}
.container .top-main .main p { font-size:18px; line-height:1.8; color:#565656; margin-bottom:1.5em; text-align:justify; overflow:hidden;}
.container .top-main .main p.title { font-size:24px; font-weight:bold; padding:0 20px; position:relative; margin-top:1.5em;}
.container .top-main .main p.title:before { content:""; display:block; width:4px; height:24px; background-color:#ff7f00; position:absolute; left:0; top:9px;}
.container .top-main .main p a { color:#ff7f00; font-weight:bold;}
.container .top-main .main p a:hover {color:#0080ff;}

.container .top-main .main .share { border:3px solid #ff7f00; padding:40px 20px 20px 20px; position:relative; margin-top:60px;}
.container .top-main .main .share h6 { display:block; position:absolute; top:-28px; font-size:24px; color:#ff7f00; background-color:#FFFFFF; padding:10px;}
.container .top-main .main .share ol, .container .top-main .main .share ol li { display:block; width:100%;}
.container .top-main .main .share ol li:before { content:"●"; float:left; color:#ff7f00; font-size:12px; margin:8px 15px 0 0;}
.container .top-main .main .share ol li a { float:left; max-width:95%; font-size:18px; line-height:1.8; color:#565656; text-decoration:none; font-weight:bold;}
.container .top-main .main .share ol li a:hover { color:#ff7f00; text-decoration:underline;}

/* ------GO TOP------ */
.goTop { position:fixed; right:10px; bottom:10px; width:50px; border-radius:50%; overflow:hidden;cursor: pointer;}
.goTop span { display:block; width:100%; height:50px; background-color:#515151; text-align:center;}
.goTop span i { font-size:30px; line-height:50px; color:#FFFFFF;}

/* ------FOOTER------ */
footer { background-color: #f2f2f2;}
footer .LOGO_Line { position:relative; width:100%; height:50px; padding-top:100px; background-color: #FFFFFF;}
footer .LOGO_Line:before { content:""; display:block; width:100%; height:10px; position:absolute; bottom:47px; background-color:#ff7700;}
footer .LOGO_Line:after { content:""; display:block; width:213px; height:48px; background-image:url(https://shopping.udn.com/mall/images/pc/footer_barimg.png); background-position:center; background-size:100% auto; position:absolute; bottom:30px; margin-left: calc(100%/5);}
footer .top-main { padding:20px;}
footer .top-main p { font-size: 13px; line-height: 20px; color: #9b9b9b; letter-spacing: 1px; display: block;}
footer .top-main p:last-child { color:#565656;}


/* =============================================================================================================
..................................................mobile_區塊....................................................
==============================================================================================================*/
@media screen and (max-width: 640px) {
body,
html { background-image: none; }
/* 必須有父層logo才會有作用 */
.vs-rrr { overflow: inherit; }
/* ------header------ */
header { background-color:#515151;}
.top-main { width:100%; text-align:center;}
h1 { padding:3vw 0 3vw 0px;}
.udnLOGO { z-index: 700; width: 27vw; margin:0 auto;}
.udnLOGO span { padding-bottom: 10vw; background-image: url(https://img.udn.com/art/2019_logo/images/new_udnlogo_01.svg); }
/* ------menu------ */
.menu-md { display: block; position:absolute; left:0; top:0; width:16vw; background-color:#ff7700;}
.menu-md span { display: block; width:100%; padding: 5vw 0 5vw 0;}
.menu-md span i { display:block; font-size:6vw; line-height:6vw; color:rgba(255,255,255,1); cursor: pointer;}

.menu-container>ul { display:none; height:0; opacity:0;}
.menu-container>ul.open { display:block; height:auto; opacity:1;}

.menu-container>ul>li { float:none; width:100%; border-right:none;}
.menu-container>ul>li:nth-child(1) { border-left:none;}
.menu-container>ul>li>div { text-align: left;}

.sub-menu { min-width:100%; max-width:100%; display:block; border-radius:0 0 0px 0px; box-shadow:0px 0px 0px rgba(0,0,0,.5); background-color:#f2f2f2; position:static; top:auto; left:auto; opacity:1;}
.menu-container>ul>li:nth-child(n+4) .sub-menu { right:auto;}
.sub-menu>li { border-bottom:2px solid #FFFFFF; padding:2vw 2em 2vw 3em; text-align:left;}

/* ------跟屁蟲------ */
.follow-us-list { position:absolute; left: auto; right:0; top:0%; transform:translateY(0%); padding: 4vw 1.5vw 4vw 0;}
.follow-us-list ul li { width:8vw; float:right; margin-bottom:0px; margin-right:2.5vw;}
.follow-us-list ul li a { height:8vw; color:#515151;}
.follow-us-list ul li a:hover { filter: brightness(120%);}
.follow-us-list ul li a span { line-height:8vw;}
.follow-us-list ul li a span i { line-height:8vw; font-size:5vw;}
.follow-us-list ul li.follow-facebook a { background-color:#FFFFFF;}
.follow-us-list ul li.follow-line a { background-color:#FFFFFF;}

/* ------文章------ */
.container .top-main, .container .top-main .main { text-align:left;}
.container .top-main { padding:6vw;}
.container .top-main .header { border-bottom:2px solid #f2f2f2; margin-bottom:6vw; padding:0 0 6vw 0;}
.container .top-main .header h3 { font-size:5vw;}
.container .top-main .header h3:before { margin-right:3vw;}
.container .top-main .header h3:after { margin-left:3vw;}
.container .top-main .header h2 { font-size:10vw; padding:3vw 0 3vw 0; line-height:11.5vw;}
.container .top-main .header h5 { font-size:4vw;}
.container .top-main .header h5 span { margin-right:5vw; display: block; width:100%;}
.container .top-main .header h5 span.on:before,
.container .top-main .header h5 span.by:before { font-size:5vw; margin-right:3vw;}


.container .top-main .main img { display:block; width:100%; height:auto; margin-bottom:6vw;}
.container .top-main .main img.Left { float:none; margin:0 0px 6vw 0;}
.container .top-main .main img.Right { float:none; margin:0 0 6vw 0px;}
.container .top-main .main img.w90,
.container .top-main .main img.w80,
.container .top-main .main img.w70,
.container .top-main .main img.w60,
.container .top-main .main img.w50,
.container .top-main .main img.w40,
.container .top-main .main img.w30,
.container .top-main .main img.w20,
.container .top-main .main img.w10 { width:100%;}
.container .top-main .main p { font-size:5vw;}
.container .top-main .main p.title { font-size:6vw; padding:0 6vw; }
.container .top-main .main p.title:before { content:""; display:block; width:1vw; height:6vw; position:absolute; left:0; top:2.5vw;}

.container .top-main .main .share { padding:8vw 6vw 6vw 6vw; margin-top:12vw;}
.container .top-main .main .share h6 { top:-6vw; left:50%; transform:translateX(-50%); font-size:6vw; padding:1.5vw; white-space:nowrap;}
.container .top-main .main .share ol li { padding-bottom:3vw;}
.container .top-main .main .share ol li:before { font-size:3vw; margin:3vw 3vw 0 0;}
.container .top-main .main .share ol li a { max-width:90%; font-size:5vw; line-height:1.5; text-decoration:underline;}

/* ------GO TOP------ */
.goTop { right:2vw; bottom:2vw; width:10vw; }
.goTop span { height:10vw; }
.goTop span i { font-size:8vw; line-height:10vw; }

/* ------FOOTER------ */
footer .LOGO_Line:after { left:50%; margin-left:0; transform:translateX(-50%);}
footer .top-main { padding:6vw; text-align:left;}
footer .top-main p { font-size: 3vw; line-height: 1.5;}
}


